@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  margin: 0;
}

.b-portrait {
  text-align: center;

  .b-portrait__name {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 34px;
    margin: 10px 0 0;
  }

  .b-portrait__image {

  }
}

.b-home {
  position: absolute;
  background: url("/images/bg.jpg") no-repeat;
  background-size: 100% 100%;
  min-width: 100%;
  min-height: 100%;
  padding-bottom: 100px;
  text-align: center;

  .b-home__main {
    width: 230px;
    display: inline-block;
    background: #fff;
    background: rgba(255,255,255,0.9);
    padding: 30px;
    @include border-radius(9px);
    margin-top: 100px;
  }
}