---
layout: default
---
<div class="b-page">
  <div class="b-page__container">
    <header class="b-page__header">
      <h2 class="b-page__siteTitle">{{ site.title }}</h2>

      <nav role="navigation" class="b-navigation b-navigation_page">
        {% include navigation.html %}
      </nav>

      <h1 class="b-page__title">{{ page.title }}</h1>
    </header>

    <article class="b-post__content">
      {{ content }}
    </article>
  </div>

  <div class="b-page__container">
    <footer class="b-footer_page">
      <img src="/images/bcc.jpg" alt="Berkeley City College" width="48" height="48">
      <br>
      <span>Built by <a href="https://github.com/vtsvang">@vtsvang</a> for CIS-105</span>
    </footer>
  </div>
</div>

<!-- {% include footer.html %} -->

